@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.login {
    font-family: 'Roboto', sans-serif;
    background-color: linear-gradient(135deg, #fd6585 10%, #0d25b9 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */