@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;600;700&display=swap');

html,
body,
#root,
.app,
.content {
  height: 100%;
  width: 100%;
  font-family: 'Source Sans 3', sans-serif;
  margin: 0;
}

.app {
  background: var(--default);
  display: flex;
  position: relative;
}

.login {
  background: var(--loginScreen);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}